<li id="task-<%= task.id %>" class="<%= task.status %>">
  <%= check_box_tag 'task_ids[]', task.id, task.completed_at, id: "field-task-#{task.id}" %>
  <%= label_tag "field-task-#{task.id}", task.title %>
  <label>
  </label>

  <span class="actions">
    <%= link_to t('actions.edit'), edit_task_path(task), class: 'edit' %>
    <%= link_to t('actions.remove'), remove_task_path(task), class: 'remove' %>
  </span>
</li>
