<%= form_for @task, url: new_task_path, html: {class: 'task-form'} do |f| %>
  <p>
    <%= f.label :title, t('form.labels.task.title') %>
    <%= f.text_field :title, placeholder: t('form.placeholders.task.title').sample %>
    <%= f.submit class: 'button' %>
  </p>
<% end %>

<%= form_tag update_tasks_path, method: 'patch' do %>
  <ul>
    <% for task in @tasks %>
    <%= render task %>
    <% end %>
  </ul>

  <p>
    <%= submit_tag t('form.buttons.update_tasks'), class: 'button' %>
  </p>
<% end %>
