<!DOCTYPE html>
<html>
  <head>
    <title>Taskv</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <p>
        <%= message %>
      </p>
    <% end %>

    <ul>
      <li>
        <%= link_to t('menu.home'), root_path %>
      </li>
      <li>
        <%= link_to t('menu.signup'), signup_path %>
      </li>

      <li>
        <%= link_to t('menu.login'), login_path %>
      </li>
    </ul>

    <%= yield %>

    <p>
      <%= link_to 'English', choose_locale_path(locale: 'en') %>
      <%= link_to 'Portugues(Brasil)', choose_locale_path(locale: 'pt-BR') %>
    </p>
  </body>
</html>
